.projectsDiv {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .btn2 {
    background-color: #0071FF !important;
    color: #ffffff !important;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    border: none !important;
    border-radius: 0px;
  }
  
  .btn3 {
    background-color: #FFF !important;
    color: #585858 !important;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
    border: none !important;
    border-radius: 0px;
  }